<%- include('../partials/header') %>
<h1><%=title%></h1>

<div>
  <img src="public/images/frog.jpg" alt="Frog" width="200">
  
    <div>
        <h2>5 Fun Frog Facts!</h2>
        <ul>
        <li>Frogs can breathe through their skin</li>
        <li>Some frogs jump 20x their length</li>
        <li>Over 6,000 frog species exist</li>
        <li>Group of frogs = "army"</li>
        <li>Smallest frog < dime size</li>
        </ul>
    </div>
    </div>

  <div>
    <h3>Did You Know?</h3>
    <p>Golden poison frog toxin can kill 10 adults!</p>
  </div>

<%- include('../partials/footer') %>