<%- include('../partials/header') %>
<h1><%=title%></h1>

<div>
  <img src="public/images/frog-habitat.jpg" alt="Frogs" width="200">
  
  <div>
    <h2>Where Frogs Live</h2>
    <ul>
      <li>Rainforests (most species)</li>
      <li>Deserts (water-holding frogs)</li>
      <li>Arctic (wood frogs freeze solid)</li>
      <li>Backyard ponds</li>
      <li>High mountains (Andes)</li>
    </ul>
  </div>
</div>

<div>
  <h3>Cool Fact</h3>
  <p>Some frogs never enter water - they live in trees!</p>
</div>

<%- include('../partials/footer') %>