<%- include('../partials/header') %>
<h1><%=title%></h1>

<img src="public/images/frog-intro.jpg" alt="Cute frog">

<h2>Welcome to Frog World!</h2>
<p>Frogs are amazing jumpers with over 6,000 species worldwide.</p>
<p>They live everywhere except Antarctica.</p>
<p>Some can change color like chameleons!</p>

<h3>Did You Know?</h3>
<p>A frog's eyes help it swallow food by pushing down into its skull.</p>

<%- include('../partials/footer') %>