<%- include('../partials/header') %>
<h1><%=title%></h1>

<div>
  <img src="public/images/frog-sound.jpg" alt="Croaking frog" width="200">
  
  <div>
    <h2>Frog Communication</h2>
    <ul>
      <li>Croaking = mating call</li>
      <li>Some whistle like birds</li>
      <li>Desert frogs "squeak"</li>
      <li>Goliath frogs = silent</li>
      <li>Some scream when scared</li>
    </ul>
  </div>
</div>

<div>
  <h3>Did You Know?</h3>
  <p>Frogs have vocal sacs that inflate like balloons!</p>
</div>

<%- include('../partials/footer') %>